Kekik
httpx[http2]
fastapi==0.133.1
uvicorn
uvloop; platform_system != "Windows"
httptools
gunicorn
user_agents
PyYAML
Jinja2
python-multipart
python-dotenv
csscompressor
rjsmin
KekikStream>=3.0.2
yt-dlp[default,curl-cffi]
